:root {
    /* palette de couleurs DEMACIA */
    --primary-color: #e9487e;
    --secondary-color: #FCE4EC;
    --accent-color: #FF80AB;
    --success: #2E7D32;          
    --warning: #F57C00;          
    --danger: #C62828;           
    
    --bg-app: #FFF8F9;
    --bg-card: #FFFFFF;          
    --text-main: #880E4F;
    --text-muted: #880E4F;
    --border: #F8BBD0;           
    --font-main: 'Segoe UI', Roboto, Helvetica, sans-serif;
}

/* --- Base --- */
body {
    font-family: var(--font-main);
    background-color: var(--bg-app);
    color: var(--text-main);
    margin: 0;
}

/* --- Structure --- */
.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    height: 70px;
    background-color: var(--bg-card);
    border-bottom: 2px solid var(--border);
}

.brand h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 2.2rem;
    color: var(--primary-color);
    margin: 0;
}

.app-body {
    display: grid;
    grid-template-columns: 260px 1fr;
    height: calc(100vh - 72px);
}

/* --- Menu Latéral --- */
.sidebar {
    background-color: var(--bg-card);
    border-right: 1px solid var(--border);
    padding: 20px;
}

.sidebar nav ul {
    list-style: none;
    padding: 0;
}

.sidebar nav ul li a {
    text-decoration: none;
    color: var(--text-muted);
    display: block;
    padding: 12px 20px;
    border-radius: 15px;
    margin-bottom: 5px;
    transition: 0.3s;
}

.sidebar nav ul li a:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

.sidebar nav ul li a.active {
    background-color: var(--primary-color);
    color: white;
}

/* --- Dashboard & Cartes --- */
#content-area {
    padding: 40px;
    overflow-y: auto;
}

.card, .todo-section {
    background-color: var(--bg-card);
    border: 1px solid var(--border);
    border-radius: 20px;
    padding: 25px;
    box-shadow: 0 4px 15px rgba(233, 30, 99, 0.05);
}

/* Tags */
.tag {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    padding: 5px 12px;
    border-radius: 20px;
    font-size: 0.75rem;
    font-weight: bold;
}

/* alertes et urgences */
.alert-text { color: var(--danger); }
.todo-item.urgent { border-left: 5px solid var(--primary-color); }